//
// Helpers
// --------------------------------------------------

::selection {
    background: @brand-primary;
}

.img-center {
    margin: 0 auto;
}
.pull-left {
    margin: 0 1rem 1rem 0;
}
.pull-right {
    margin: 0 0 1rem 1rem;
}

.label-default {
    a {
        color: white;
    }
}

.view-list, .view-grid {
    padding-bottom: @padding-base-vertical;
    margin-bottom: @padding-base-vertical*2;
}

.error-template {
    padding: 40px 15px;
    text-align: center;}
.error-actions {
    margin-top:15px;
    margin-bottom:15px;}
.error-actions .btn { 
    margin-right:10px; 
}
            
#colophon {
	text-align: center;
	@media (min-width: @screen-xs) {
		text-align: left;
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	background-color: @gray-darker;
	color: @gray-lighter; 
	a {
		color: @gray-light;
		&:hover{
			color: @gray-lighter;
		}
	}
	
	#customadesign {
		@media (min-width: @screen-xs) {
			text-align: right;
		}
	}
}
