//
// Theme Specific
// --------------------------------------------------

#user-bar {
	font-size: 1.2rem;
	background-color: @gray-lighter;
	margin-bottom: 2rem;
	.nav {
		a {
			padding: 0.75rem;
		}
	}
	ul, address {
		margin: 0!important;
	}
}
header {
	margin-bottom: 3rem;
}

.header-navigation {
	> ul {
		.nav();
		.nav-pills();
	}
}
.footer-navigation, .footer-navigation > ul {
	.nav();
	.nav-stacked();
	> li {
		> a {
			padding: 0.5rem 0;
			.transition(all 0.1s linear);
			&:hover {
				background-color: rgba(0,0,0,0.35);
				padding: 0.5rem 0.5rem;
			}
		}
	}
}

#main-banner {
	margin-bottom: 2rem;
}
#content-wrap {

}


